
/* header */
nav {display: flex;
    margin: 0 40px;
align-items: center;
justify-content: space-around;
}

.my-header{background-color: #FFF8F3;
background-image: url("./images/header_bg.png"),url("./images/developer.png");
background-repeat: no-repeat;
background-position: bottom right,top left;


}
*{font-family: 'Open Sans', sans-serif;
margin: 0; 
}

.main-color{color: #FD6E0A; }

.nav-title{
    
    font-size: 45px;
    font-weight: 800;
    }

nav > ul{display: flex;
align-items: center;
}
nav li{list-style: none;
margin-right: 50px;
}

nav a{text-decoration: none;
color: gray;
}

.main-button{border-radius: 5px;
    background: #FD6E0A;
border: 0;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 8px 8px 8px 7px;
}

.banner{padding:30px 30px 0px 120px ;
display: flex;
align-items: center;
justify-content: space-between;
}
.banner img{height: 700px; width: 500px;}
.banner-title{ max-width: 400px;}
#b1{font-size: 45px;
    font-weight: 600;}
    #b2{font-size: 60px;
    font-weight: 700;}
    #b3{color: var(--Dark-03, #757575);
        /* font-family: Open Sans; */
        font-size: 10px;
        /* font-style: normal; */
        font-weight: 30px;
        line-height: 30px; /* 166.667% */}

/* main section 
/* about section */


.about{border-radius: 10px;
    background: #FFF8F3;
padding: 130px;
margin: 130px 0;
max-width: 60%;
margin: 100px auto;
}
.me{color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;}
.des{color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;}
.about-info-container{display: flex;
justify-content: space-around;
line-height: 40px;
}
.about-info
{text-align: center;}
#p{max-width: 60%;
margin: 30px auto;
}
/* what i do style */
.what{text-align: center;
font-size: 35px;
/* font-weight: 500; */
line-height: 40px;
}

.whatp{text-align: center;
line-height: 30px;
}
#skills-container{display: flex;
gap: 20px;
}
.skill{
/* background-color: rgb(240, 248, 255); */
border-radius: 5px;
padding: 30px;
background: #FFF;
box-shadow: 0px 6px 500px 0px rgba(0, 0, 0, 0.06);
}
.skill-des{color: #757575;}
.resume-cont{display: flex;
gap: 50px;
margin-top: 20px;
}

.enginering{max-width: 60%;}
.resume-column{margin-left: 140px; }
.resume-column2{margin-left:500px;}
.resume-column2{margin-top: 20px;}

.button-move{text-align: center;
margin-top: 50px;

}

/* footer  */

footer{display: flex;background: #FFF8F3;
padding: 40px 50px 30px 60px
}
.content-footer{padding-left: 220px;}
.input-button,textarea{border-radius: 5px;
    background: var(--White-Color, #FFF);
border: none;
padding: 6px 30px;
}
form ,input,textarea,button,#h2{margin-bottom: 20px;}
.content-footer a{margin-left: 20px;}






